{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">

  <header role="banner" class = "header__wrapper" style = "background-image: url({{ header_bg_file }})">
    <div class = "bg-gradient-to-r from-flat-blue">
      <div class = "header">{{ page.banner }}</div>
    </div>
    {% block header_content %}
    {% endblock %}
  </header>



  <main role="main">
    {{  page.highlighted }}

    {{ page.help }}
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div role="contentinfo" class = "messages__wrapper">
      {{ page.messages }}
    </div>

    {% block main_content %}
      <div class="layout-content">
      {{ page.content }}
      </div>
    {% endblock %}
    <div class="triptych px-5 mb-10 lg:mt-2.5 lg:mb-16">
      <section class = "grid grid-cols-1 lg:grid-cols-3 gap-4 max-w-screen-lg container mx-auto pt-8 lg:pl-32">
        <div>
          <h2 class="block__title text-title-blue mb-5 flex items-end text-xl font-bold mb-2">Encountered A Problem?</h2>
          <p class="mb-2">
            Please report any problems that you run into while using the service on drupal.org. Also general feedback or support requests are welcome.
          </p>
          <div class="cta-link"><a class="btn hover:bg-red-700" href="https://www.drupal.org/project/issues/simplytest?categories=All"> Report a problem</a></div>
        </div>
        <div>
          <h2 class="block__title text-title-blue mb-5 flex items-end text-xl font-bold mb-2">Future Of Simplytest.Me</h2>
          <p class="mb-2">
            Join the conversation about the future of this service on drupal.org
          </p>
          <div class="cta-link"><a class="btn hover:bg-red-700" href="https://www.drupal.org/join-slack">Join the conversation</a></div>
        </div>
        <div>
          <h2 class="block__title text-title-blue mb-5 flex items-end text-xl font-bold mb-2">Spread The Word</h2>
          <p class="mb-2">
            If you like the service please consider spreading the word and following me on twitter for updates about the project.
          </p>
          <div class="cta-link social-link"><a class="btn " href="https://twitter.com/simplytestme">Follow</a></div>
        </div>
      </section>
    </div>
  </main>

  {% if page.sponsors %}
    <div role="contentinfo" class = "sponsors__wrapper bg-title-blue py-5">
      <div class = "sponsors lg:pl-24">
        {{ page.sponsors }}
      </div>
    </div>
  {% endif %}

  {% if page.footer %}
    <footer role="contentinfo" class = "footer__wrapper bg-dark-blue text-white py-6">
      <div class = "footer">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}

</div>{# /.layout-container #}
